{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Register | {{ block.super }}{% endblock title %}


{% block content %}

<section class="inner-page">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <h3 class="h6 modal-heading text-center">Apply Membership</h3>
                <section id="contact" class="s-contact loginmodalfrom">
                    <div class="contact-content" data-aos="fade-up">
                        <div class="loing-primary">
                            <form class='form {% if form_class %}{{ form_class }}{% endif %}' method='POST' action="{% if action_url %}{{ action_url }}{% endif %}">
                                <fieldset>

                                    {% csrf_token %}
                                    <div class="form-field">
                                        <input type="text" name="username" required="" class="full-width" id="id_username" placeholder="Please enter your name">
                                    </div>
                                    <div class="form-field">
                                        <input type="email" name="email" required="" class="emailinput full-width" id="id_email" placeholder="Please enter your email">
                                    </div>
                                    <div class="form-field">
                                        <input type="password" name="password" required="" class="full-width" id="id_password" placeholder="Please enter password">
                                    </div>
                                    <div class="form-field">
                                        <input type="password" name="password2" required="" class="full-width" id="id_password2" placeholder="Confirm password">
                                    </div>
                                    <button type="submit" class="full-width btn--primary">Apply Membership</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
