{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
  $("form input").addClass('full-width')
});
</script>


{% endblock %}



{% block content %}

<section class="inner-page">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="vertical-mddl">

          <h3 class="h6 modal-heading text-center">Login</h3>
            <section id="contact" class="s-contact loginmodalfrom">
<div class="contact-content" data-aos="fade-up">
<div class="loing-primary">
<form method="post" action="{% url 'login' %}">
  <fieldset>
{% csrf_token %}

<div class="form-field">
    {% render_field form.username class="full-width" placeholder=form.username.label autofill="off" %}
</div>


<div class="form-field">
    {% render_field form.password class="full-width" placeholder=form.password.label autofill="off" %}
</div>
<div class="form-field">
  <button type="submit" class='full-width btn--primary'>Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
  <div class="submit-loader">
      <div class="text-loader">Sending...</div>
      <div class="s-loader">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  </div>
</div>
<fieldset>
</form>
{% if form.errors %}
<div class="message-warning">
  Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p></p>
    {% endif %}
{% endif %}



</div>
</div>
</section>
        </div>
        </div>
        </div>
      </div>
    </div>

</section>



{% endblock %}
                                                                                                                                                                                                                                                                                                                                                                                                                                                 156,1         Bot
