{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Raize The Bar{% endblock title %}</title>

    <!-- Bootstrap -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/component.css'%}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css'%}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.css'%}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.css'%}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/mdtimepicker.css'%}" />
   <!-- Select -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/cs-select.css'%}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/cs-skin-underline.css'%}" />


          <link rel="stylesheet" href="{% static 'css/base.css'%}">
   <link rel="stylesheet" href="{% static 'css/main.css'%}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
   <link rel="stylesheet" href="{% static 'css/responsive.css'%}">

   <!-- script
   ================================================== -->
   <script src="{% static 'js/modernizr.js'%}"></script>
   <script src="{% static 'js/pace.min.js'%}"></script>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <style>
    .red-color {
      color: red;
    }
    .grey-color {
      color: #ccc;
    }
    .media-focus {
          background-color: rgba(255, 255, 0, 0.22);
    }
    </style>
  </head>
  <body class="s-home target-section">
    <div class="overlay"></div>
      <div class="shadow-overlay"></div>
    {% include "navbar.html" %}


      {% block content %}
      {% endblock content %}



    {% include "reply-modal.html" %}


        <!-- home
    ================================================== -->
    <section>
      <!-- Slider -->
      <div class="main">
				 <ul id="cbp-bislideshow" class="cbp-bislideshow">
                    <li><img src="{% static 'images/hero-bg.jpg' %}" alt="image01"/></li>
                    <li><img src="{% static 'images/hero-bg2.jpg' %}" alt="image02"/></li>
                    <li><img src="{% static 'images/hero-bg3.jpg' %}" alt="image02"/></li>
                    <li><img src="{% static 'images/hero-bg4.jpg' %}" alt="image02"/></li>
                    <li><img src="{% static 'images/hero-bg5.jpg' %}" alt="image02"/></li>
            </ul>
				<!-- <div id="cbp-bicontrols" class="cbp-bicontrols">
					<span class="cbp-biprev"></span>
					<span class="cbp-bipause"></span>
					<span class="cbp-binext"></span>
				</div> -->
			</div>
  <!-- End Slider -->

        <div class="home-content">



            <!-- <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div> -->

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="#" class="icon-img"><span class="width-social"><img src="{% static 'images/social-icon-5.png' %}" alt="facebook"></span><span class="hover-social-name">Facebook</span></a>
            </li>

            <li>
                <a href="#" class="icon-img"><span class="width-social"><img src="{% static 'images/social-icon-4.png' %}" alt="Instagram"></span><span class="hover-social-name">Instagram</span></a>
            </li>
            <li>
                <a href="#" class="icon-img"><span class="width-social"><img src="{% static 'images/social-icon-1.png' %}" alt="Tripadvisor"></span><span class="hover-social-name">Tripadvisor</span></a>
            </li>
            <li>
                  <a href="#" class="icon-img"><span class="width-social"><img src="{% static 'images/social-icon-2.png' %}" alt="zomato"></span><span class="hover-social-name">Zomato</span></a>
            </li>
            <li>
                <a href="#" class="icon-img"><span class="width-social"><img src="{% static 'images/social-icon-3.png' %}" alt="dineout"></span><span class="hover-social-name">Dineout</span></a>
            </li>
        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

<div class="modal fade" id="login-main">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
<div class="modal-body">
<div class="vertical-mddl">
<h3 class="h6 modal-heading text-center">LOGIN</h3>
<section id="contact" class="s-contact loginmodalfrom">
<div class="contact-content" data-aos="fade-up">
<div class="loing-primary">
<form method="post" action="{% url 'login' %}">
  <fieldset>
{% csrf_token %}

<div class="form-field">
    {{ form.username }}
</div>


<div class="form-field">
    {{ form.password }}
</div>
<div class="form-field">
  <button type="submit" class='full-width btn--primary'>Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
  <div class="submit-loader">
      <div class="text-loader">Sending...</div>
      <div class="s-loader">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  </div>
</div>
<fieldset>
</form>
{% if form.errors %}
<div class="message-warning">
  Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p></p>
    {% endif %}
{% endif %}



</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>

    <script>
    function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}


function loadTweetContainer(tweetContainerID, fetchOneId){
  var query = getParameterByName('q')
  var tweetList = [];
  var nextTweetUrl;

  var tweetContainer;
  if (tweetContainerID){
    tweetContainer = $("#" + tweetContainerID)
  } else {
    tweetContainer = $("#tweet-container")
  }

  var initialURL = tweetContainer.attr("data-url") || "/api/tweet/";
  // console.log(initialURL)


  $(document.body).on("click", ".tweet-like", function(e){
      e.preventDefault()
      var this_ = $(this)
      var tweetId = this_.attr("data-id")
      var likedUrl = '/api/tweet/' + tweetId + "/like/"
      // this_.text("Liked")
      $.ajax({
        method:"GET",
        url: likedUrl,
        success: function(data){
          if (data.liked){
            this_.text("Liked")
          } else {
            this_.text("Unliked")
          }
        },
        error: function(data){
          console.log("error")
          console.log(data)
        }

      })
  })

  $(document.body).on("click", ".tweet-reply", function(e){

    e.preventDefault()
    var this_ = $(this)
    var parentId = this_.attr("data-id")
    var username = this_.attr("data-user")
    var content = this_.parent().parent().find(".content").text()
    $("#replyModal").modal({})
    $("#replyModal textarea").after("<input type='hidden' value='" + parentId + "' name='parent_id' />")
    $("#replyModal textarea").after("<input type='hidden' value='" + true + "' name='reply' />")
    $("#replyModal textarea").val("@" + username + " ")
    $("#replyModal #replyModalLabel").text("Reply to " + content)
    $("#replyModal").on("shown.bs.modal", function(){
      $('textarea').focus()
    })
  })



  $(document.body).on("click", ".retweetBtn", function(e){

    e.preventDefault()
    console.log("clicked")
    var url = "/api" + $(this).attr("href")

    $.ajax({
      method: "GET",
      url: url,
      success: function (data) {
        console.log(data)
        // if username is in the API path... let's ignore
        if (initialURL == "/api/tweet/") {
          attachTweet(data, true, true)
          updateHashLinks()
        }

      },
      error: function(data){
        console.log("error")
        console.log(data)
      }
    })
  })
  function updateHashLinks(){
    $(".content").each(function(data){
        var hashtagRegex = /(^|\s)#([\w\d-]+)/g
        var usernameRegex = /(^|\s)@([\w\d-]+)/g
        var currentHtml = $(this).html()
        var newText;
        newText = currentHtml.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>")
        newText = newText.replace(usernameRegex, "$1 @<a href='/$2/'>$2</a>")
        $(this).html(newText)
    })
  }


  function formatTweet(tweetValue) {

      var preContent;
      var container;
      var tweetContent;
      var isReply = tweetValue.reply;
      var replyId = tweetValue.id
      if (tweetValue.parent) {
        replyId = tweetValue.parent.id
      }

      var openingContainerDiv = "<div class=\"media\">"
      if (tweetValue.id == fetchOneId) {
        openingContainerDiv = "<div class=\"media media-focus\">"
        setTimeout(function(){
          $('.media-focus').css("background-color", '#fff')
        }, 2000)
      }

      if (tweetValue.parent && !isReply) {
        // there is a retwet
        tweetValue = tweetValue.parent
         preContent = "<span class='grey-color'>Retweet via " + tweetValue.user.username +" on " + tweetValue.date_display + "</span><br/>"
      } else if (tweetValue.parent && isReply) {
         preContent = "<span class='grey-color'>Reply to @" + tweetValue.parent.user.username +  "</span><br/>"
      }

      var verb = 'Like'
      if (tweetValue.did_like){
          verb = 'Unlike'
      }



      tweetContent = "<span class='content'>" + tweetValue.content + "</span><br/> via <a href='" + tweetValue.user.url + "'>" + tweetValue.user.username + "</a> | " + tweetValue.date_display + " | " + "<a href='/tweet/" + tweetValue.id + "'>View</a> | " + "<a class='retweetBtn' href='/tweet/" + tweetValue.id + "/retweet/'>Repost</a>" + " | <a href='#' class='tweet-like' data-id='" + tweetValue.id + "''>" + verb + " (" + tweetValue.likes + ")</a>" + " | <a href='#' class='tweet-reply' data-user='" + tweetValue.user.username + "' data-id='" + replyId + "''>Reply</a>"

      if (preContent){
           container= openingContainerDiv + "<div class=\"media-body\">" + preContent + tweetContent + "</div></div><hr/>"
      } else {
           container = openingContainerDiv + "<div class=\"media-body\">" + tweetContent + "</div></div><hr/>"
      }

       return container
  }
  function attachTweet(tweetValue, prepend, retweet){

      tweetFormattedHtml = formatTweet(tweetValue)

      if (prepend==true){
        tweetContainer.prepend(tweetFormattedHtml)
      } else {
        tweetContainer.append(tweetFormattedHtml)
     }
  }

  function parseTweets(){
    if (tweetList == 0) {
      tweetContainer.text("No tweets currently found.")
    } else {
      // tweets exist, parse & display them
     $.each(tweetList, function(key, value){
          var tweetKey = key;
          if (value.parent) {
            attachTweet(value, false, true)
          } else {
            attachTweet(value)
          }

      })
    }
  }

  function fetchTweets(url){
    console.log('fetching')
    var fecthUrl;
    if (!url) {
      fecthUrl = initialURL
    } else {
      fecthUrl = url
    }
    $.ajax({
      url: fecthUrl,
      data: {
        "q": query
      },
      method: "GET",
      success: function(data){
        // console.log(data)
        tweetList = data.results
        if (data.next){
          nextTweetUrl = data.next
        } else {
          $("#loadmore").css("display", "none")
        }
        parseTweets()
        updateHashLinks()

      },
      error: function(data){
        console.log("error")
        console.log(data)
      }
    })
  }

  function fetchSingle(fetchOneId){
    var fecthDetailUrl = '/api/tweet/' + fetchOneId + '/'
    $.ajax({
      url: fecthDetailUrl,
      method: "GET",
      success: function(data){
         console.log(data)
        tweetList = data.results
        // if (data.next){
        //   nextTweetUrl = data.next
        // } else {
        //   $("#loadmore").css("display", "none")
        // }
        parseTweets()
        updateHashLinks()

      },
      error: function(data){
        console.log("error")
        console.log(data)
      }
    })
  }


  if (fetchOneId){
    fetchSingle(fetchOneId)
  } else {
    fetchTweets()
  }



  $("#loadmore").click(function(event){
      event.preventDefault()
      if (nextTweetUrl) {
        fetchTweets(nextTweetUrl)
      }
      // load more items
  })

  var charsStart = 140;
  var charsCurrent = 0;

  $(".tweet-form").append("<span class='tweetCharsLeft' style='margin-left: 20px'>" + charsStart + " left</span>")

  $(".tweet-form textarea").keyup(function(event){
      var tweetValue = $(this).val()
      charsCurrent = charsStart - tweetValue.length
      var spanChars = $(this).parent().parent().parent().find("span.tweetCharsLeft")
      spanChars.text(charsCurrent)

      if (charsCurrent > 0 ) {
         // remove classes
         spanChars.removeClass("grey-color")
         spanChars.removeClass("red-color")
      } else if (charsCurrent == 0) {
         // add grey class
         spanChars.removeClass("red-color")
         spanChars.addClass("grey-color")
      } else if (charsCurrent < 0) {
          // add red class
          spanChars.removeClass("grey-color")
          spanChars.addClass("red-color")
      }

  })

  $(".tweet-form").submit(function(event){
      event.preventDefault()
      var this_ = $(this)
      var formData =  this_.serialize()
      if (charsCurrent >= 0) {
        $.ajax({
          url: "/api/tweet/create/",
          data: formData,
          method: "POST",
          success: function(data){
            this_.find("input[type=text], textarea").val("")
            attachTweet(data, true)
            updateHashLinks()
            $("#replyModal").modal("hide")

          },
          error: function(data){
            console.log("error")
            console.log(data.statusText)
            console.log(data.status)
          }
        })
      }  else {
        console.log("Cannot send, tweet too long.")
    }




  })
}

    </script>
    {% block script %}{% endblock script %}

    <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#navbar-search-form input[type=text]")
        var searchQuery;

        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })

         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })

        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/search/?q=' + searchQuery
            document.location.href = url;
          }
        }


      })
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->

    <!-- Java Script
================================================== -->
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'js/jquery-ui.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
 <script src="{% static 'js/jquery.slimscroll.js'%}"></script>
<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'js/custom-option-select.js'%}"></script>
<script src="{% static 'js/selectFx.js'%}"></script>
<script src="{% static 'js/plugins.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/jquery.imagesloaded.min.js'%}"></script>
<script src="{% static 'js/cbpBGSlideshow.min.js'%}"></script>
<script type="text/javascript">
  $(function(){
    $('.modal-content').slimScroll({
        height: '100vh',
      width:'100%',

    });
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
 $(window.location.hash).modal('show');
 $('a[data-toggle="modal"]').click(function(){
    window.location.hash = $(this).attr('href');
 });
});
</script>
  <script>
    $(function() {
      cbpBGSlideshow.init();
    });
  </script>

<script>
(function() {
  [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
    new SelectFx(el);
  } );
})();
</script>
<script>
$( function() {
$( "#datepicker" ).datepicker();
} );
$( function() {
$( "#datepicker1" ).datepicker();
} );
$( function() {
$( "#date-of-booking" ).datepicker();
} );
$( function() {
$( "#date-of-booking-party" ).datepicker();
} );
</script>
<script type="text/javascript">
//plugin bootstrap minus and plus
//http://jsfiddle.net/laelitenetwork/puJ6G/
$('.btn-number').click(function(e){
  e.preventDefault();

  fieldName = $(this).attr('data-field');
  type      = $(this).attr('data-type');
  var input = $("input[name='"+fieldName+"']");
  var currentVal = parseInt(input.val());
  if (!isNaN(currentVal)) {
      if(type == 'minus') {

          if(currentVal > input.attr('min')) {
              input.val(currentVal - 1).change();
          }
          if(parseInt(input.val()) == input.attr('min')) {
              $(this).attr('disabled', true);
          }

      } else if(type == 'plus') {

          if(currentVal < input.attr('max')) {
              input.val(currentVal + 1).change();
          }
          if(parseInt(input.val()) == input.attr('max')) {
              $(this).attr('disabled', true);
          }

      }
  } else {
      input.val(0);
  }
});
$('.input-number').focusin(function(){
 $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {

  minValue =  parseInt($(this).attr('min'));
  maxValue =  parseInt($(this).attr('max'));
  valueCurrent = parseInt($(this).val());

  name = $(this).attr('name');
  if(valueCurrent >= minValue) {
      $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
  } else {
      alert('Sorry, the minimum value was reached');
      $(this).val($(this).data('oldValue'));
  }
  if(valueCurrent <= maxValue) {
      $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
  } else {
      alert('Sorry, the maximum value was reached');
      $(this).val($(this).data('oldValue'));
  }


});
$(".input-number").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) ||
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });
</script>
  </body>
</html>
